body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #eee;
  }
  .nav-links {
    list-style: none;
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: right;
  }
  .nav-links a {
    margin-right: 15px;
    color: red;
  }
  .container {
    text-align: center;
  }
  .container img {
    width: 400px;
    height: 350px;
  }
  header h1 {
    text-align: center;
    color: blue;
  }
  header p {
    text-align: center;
    color: purple;
  }
  main h2 {
    text-align: center;
  }
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  .card {
    text-align: center;
    margin: 20px;
    padding: 15px;
  }
  footer {
    text-align: center;
    background-color: gray;
    color: #fff;
  }